<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Start page</title>
</head>
<body>
<h1>REST API для учета продаж коллекционных монет из драгоценных металлов</h1>
<p>Через API можно добавлять, удалять, обновлять и считывать драгоценные коллекционные монеты, которые есть в базе.
    Монеты сделаны из драгоценных металлов, при этом имеют коллекционную ценность. Через API можно рассчитать
    коллекционную составляющую цены монеты.</p>
<h2>Методы REST API приложения</h2>
<ul>
    <li>Получение монеты</li>
</ul>
<p>Описание перечисления: /coins/get/{id}</p>

</body>
</html>