<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Start page</title>
</head>
<body>
<h1>REST API для учета продаж коллекционных монет из драгоценных металлов</h1>
<p>Через API можно добавлять, удалять, обновлять и считывать драгоценные коллекционные монеты, которые есть в базе.
    Монеты сделаны из драгоценных металлов, при этом имеют коллекционную ценность, поэтому
    через API можно рассчитать коллекционную составляющую цены монеты на заданную дату исходя из курсов драгоценных
    металлов
    на сайте Центрального Банка РФ (https://www.cbr.ru/hd_base/metall/metall_base_new)</p>
<h2>Методы REST API приложения</h2>
<p>API получает и отдает данные в XML формате.
    Пример формата ответа/запроса:
<pre>
    &lt;?xml version="1.0" encoding="UTF-8" standalone="yes"?&gt;
    &lt;Coin&gt;
        &lt;name&gt;Алмазный-22&lt;/name&gt;
        &lt;denomination&gt;25&lt;/denomination&gt;
        &lt;metal&gt;серебро 925/1000&lt;/metal&gt;
        &lt;weight&gt;155.00&lt;/weight&gt;
        &lt;catalogNumber&gt;5115-0159&lt;/catalogNumber&gt;
        &lt;cost&gt;21500&lt;/cost&gt;
    &lt;/Coin&gt;
</pre>
</p>
<br>
<ul>
    <li>Получение монеты</li>
</ul>
<p>Форма запроса: /coins/get/{id}</p>
<ul>
    <li>Получить коллекционную составляющую цены монеты на заданную дату исходя из курсов драгоценных</li>
</ul>
<p>Форма запроса: /collector_value/{id}?day={day}&month={month}&year={year}</p>
<ul>
    <li>Для получение практического опыта, добавлена работа с добавлением запроса и его обработка из очереди через
        RabbitMQ
    </li>
</ul>
<p>Отправить в очередь запрос на получение Монеты: /coins/rabbit?key=get&message=1<br>
    Где message* это ID Монеты, которую нужно получить<br>
    Отправить в очередь запрос на получение всех Монет и получить список: /coins/rabbit?key=getAll&message=1<br>
*message - параметр добавлен специально, чтобы была практика работы с двумя очередями из одного контроллера</p>
<ul>
    <li>Получение всех монет</li>
</ul>
<p>Форма запроса: /coins/get/all</p>
<ul>
    <li>Добавить новую монету</li>
</ul>
<p>Форма запроса: /coins/add</p>
<ul>
    <li>Добавить новую монету через XML файл</li>
</ul>
<p>Форма запроса: /coins/add_from_file</p>
<ul>
    <li>Удалить монету из базы</li>
</ul>
<p>Форма запроса: /coins/delete/{id}</p>
<ul>
    <li>Обновить значения полей монеты</li>
</ul>
<p>Форма запроса: /coins/patch/{id}</p>
<ul>
    <li>Получить монеты по значению каталожного номера (Раздел, Металл, Номинал)</li>
</ul>
<p>Форма запроса: /coins/section_denomination_metal/{id}</p>
</body>
</html>